.page {
    width: 100%;

    padding: 10px 10%;
}



/* Линия */
.timeline {
    position: relative;
    margin: 0 auto;
    padding-left: 30px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom,
            var(--border),
            var(--text1),
            var(--border));
    box-shadow: 0 0 10px var(--shadow);
}

/* Элемент таймлайна */
.entry {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
    align-items: flex-start;
}

.year {
    color: var(--text3);
    font-size: 24px;
    min-width: 90px;
    text-shadow: 0 0 10px var(--shadow);
}

/* Карточка */
.card {
    padding: 25px 30px;
    background: var(--bg1);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 0 20px var(--shadow);
    backdrop-filter: blur(20px);
}

.heading {
    color: var(--text1);
    margin-bottom: 8px;
    font-size: 24px;
}

.place {
    color: var(--text2);
    margin-bottom: 12px;
}

.desc {
    color: var(--text3);
    line-height: 1.6;
}

/* Адаптив */
@media (max-width: 700px) {
    .entry {
        flex-direction: column;
        gap: 10px;
    }

    .timeline::before {
        left: -10px;
    }

    .page {
        padding: 80px 20px;
    }

    .year {
        font-size: 20px;
    }
}