.page {
    width: 100%;

    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}


.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.card {
    background: var(--bg1);
    border: 1px solid var(--border);

    padding: 30px 32px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 40px var();
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text1);
}

.list {
    display: flex;
    min-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    padding: 6px 0;
    font-size: 17px;
    color: var(--text3);
    text-decoration: none;
    transition: all 0.25s ease;
    position: relative;
}

.item:hover {
    color: var(--text1);
    transform: translateX(6px);
}

@media (max-width: 1174px) {
    .grid {
        gap: 20px;

    }

    .list {

        gap: 10px;
    }

    .item {

        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}