.wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    background: var(--bg1);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border);
    box-shadow: 0 0 20px var(--shadow);
}

.title {
    color: var(--text1);
    font-size: 28px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 16px 20px;
    border-radius: 14px;

    background: var(--bg1);
    border: 1px solid var(--border);

    transition: border 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    border: 1px solid var(--text1);
}

.icon {
    color: var(--text1);
    display: flex;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 12px;
    color: var(--text2);
    letter-spacing: 1px;
}

.value {
    color: var(--text3);
    font-size: 15px;
}

.arrow {
    margin-left: auto;
    color: var(--text1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item:hover .arrow {
    opacity: 1;
}