.coverContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    width: 98vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 46px;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--text1);
    margin-bottom: 60px;
}

.border {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}


.borderActive {
    width: 100vw;
    min-height: 100vh;
    scale: 0.85;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text1);
    transition: all 0.5s ease-in-out;
}