.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    width: 100vw;
    /* background: linear-gradient(150deg, black, rgb(4, 9, 67)); */

    /* background: radial-gradient(rgb(4, 4, 65) 50%, rgb(0, 0, 0)); */

    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}