* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  overflow-x: hidden;
}

:root {
  --bg1: rgba(15, 23, 42, 0.6);
  --border: rgba(0, 255, 255, 0.15);
  --shadow: rgba(0, 255, 255, 0.2);
  --text1: #7ff4ff;
  --text2: rgba(180, 230, 255, 0.5);
  --text3: #cfffff;
  background-image: url('/src/assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

:root[data-theme='gold'] {
  --bg1: rgba(36, 25, 11, 0.6);
  --border: rgba(171, 191, 22, 0.15);
  --shadow: rgba(0, 255, 255, 0.2);
  --text1: #b3f805;
  --text2: rgba(180, 230, 255, 0.5);
  --text3: #cfffff;
  background-image: url('/src/assets/background2.jpg');
  background-attachment: fixed;
  background-size: cover;
}