.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.welcomeCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.techSection {
    display: flex;
    align-Content: center;
    flex-Direction: column;
    gap: 5px;
}

/* ====== DESKTOP DEFAULT (1280px+) — твоя текущая верстка ====== */


/* ====== 1024px — ноутбуки ====== */
@media (max-width: 1024px) {

    .welcomeCard {
        flex-direction: column;
        align-items: center;
    }

    .techSection {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}


/* ====== 768px — планшеты ====== */
@media (max-width: 768px) {

    .welcomeCard {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .techSection {
        width: 100%;

        align-items: center;
    }
}

@media (max-width: 650px) {

    .welcomeCard {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .techSection {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

}


/* ====== 480px — телефоны ====== */
@media (max-width: 480px) {


    .welcomeCard {
        gap: 20px;
    }

    .techSection {
        gap: 15px;
    }
}