.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.welcomeCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.techSection {
    display: flex;
    align-Content: center;
    flex-Direction: column;
    gap: 5px;
}

.dot {
    width: 15px;
    height: 15px;
    margin-Bottom: 10px;
    background: var(--text1);
    border-Radius: 50%;
    box-Shadow: 0 0 5px 1px var(--text1);

}



@media (max-width: 870px) {

    .welcomeCard {
        flex-Direction: column-reverse;
    }

    .dot {
        display: none;
    }

    .techSection {
        width: 100%;
        align-items: center;
        flex-Direction: row;
    }
}


/* ====== 768px — планшеты ====== */
@media (max-width: 768px) {

    .welcomeCard {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .techSection {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 650px) {

    .welcomeCard {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }



}


/* ====== 480px — телефоны ====== */
@media (max-width: 480px) {


    .welcomeCard {
        gap: 20px;
    }

    .techSection {
        gap: 15px;
    }
}